<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="web spider center">
    <meta name="author" content="wuyadong">
    <title>Web spider center</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.tigerknows.com">tigerknows</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="schedule.html">schedule</a></li>
                    <li class="active"><a href="spider.html">spider</a></li>
                    <li><a href="worker.html">worker</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="container theme-showcase">
    <br/>
    <br/>
    <h2>Spider</h2>
    <div class="panel-danger">
        <p><div class="page-header"><strong>spider</strong>是描述抓取流程的组件，用户可以通过参数以及类名，动态创建spider</div></p>
    </div>
    <div class="panel-success">
        <div class="panel-heading">可用的spider如下：</div>
        <div class="panel-body">
            <table class="table">
                   <thead><tr><th>spider_class</th><th>description</th></tr></thead>
                   <tbody>
                   {%for spider in spiders%}
                   <tr><td>{{spider.get('path')}}</td><td>{{spider.get('description')}}</td></tr>
                   {%end%}
                   </tbody>
            </table>
        </div>
    </div>


</div>

</body>
=======
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="web spider center">
    <meta name="author" content="wuyadong">
    <title>Web spider center</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.tigerknows.com">tigerknows</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="schedule.html">schedule</a></li>
                    <li class="active"><a href="spider.html">spider</a></li>
                    <li><a href="worker.html">worker</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="container theme-showcase">
    <br/>
    <br/>
    <h2>Spider</h2>
    <div class="panel-danger">
        <p><div class="page-header"><strong>spider</strong>是描述抓取流程的组件，用户可以通过参数以及类名，动态创建spider</div></p>
    </div>
    <div class="panel-success">
        <div class="panel-heading">可用的spider如下：</div>
        <div class="panel-body">
            <table class="table">
                   <thead><tr><th>spider_class</th><th>description</th></tr></thead>
                   <tbody>
                   {%for spider in spiders%}
                   <tr><td>{{spider.get('path')}}</td><td>{{spider.get('description')}}</td></tr>
                   {%end%}
                   </tbody>
            </table>
        </div>
    </div>


</div>

</body>
</html>
